<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <appSettings>
    <add key="DB" value="Database=ZJT;Server=119.145.9.4;uid=ZJT;pwd=zjt2015" />
    <add key="ApiKey" value="a858c723-a19a-4828-9375-85cebebfa7be" />
  </appSettings>
  <system.serviceModel>
    <extensions>
      <bindingElementExtensions>
        <add name="gzipMessageEncoding" type="GZipEncoder.GZipMessageEncodingElement, GZipEncoder, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
      </bindingElementExtensions>
    </extensions>
    <behaviors>
      <serviceBehaviors>
        <behavior name="httpBebavior">
          <serviceMetadata httpGetEnabled="true" />
          <dataContractSerializer maxItemsInObjectGraph="2147483647" />
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="ApiBehavior">
          <dataContractSerializer maxItemsInObjectGraph="2147483647" />
        </behavior>
        <behavior name="fileBehavior">
          <webHttp />
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <bindings>
      <customBinding>
        <binding name="gzipBinding" sendTimeout="00:10:00" receiveTimeout="00:10:00">
          <gzipMessageEncoding innerMessageEncoding="textMessageEncoding" />
          <httpTransport hostNameComparisonMode="StrongWildcard" manualAddressing="False" maxReceivedMessageSize="2147483647" maxBufferSize="2147483647" authenticationScheme="Anonymous" bypassProxyOnLocal="False" realm="" useDefaultWebProxy="True" />
        </binding>
      </customBinding>
      <basicHttpBinding>
        <binding name="httpBinding" maxReceivedMessageSize="2147483647" maxBufferSize="2147483647" sendTimeout="00:10:00" receiveTimeout="00:10:00" transferMode="Buffered">
          <security mode="None">
          </security>
          <readerQuotas maxArrayLength="2147483647" maxNameTableCharCount="2147483647" />
        </binding>
        <binding name="ApiBinding" closeTimeout="00:00:10" openTimeout="00:00:06" receiveTimeout="00:10:00" sendTimeout="00:10:00" transferMode="Buffered" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
          <security mode="None" />
        </binding>
      </basicHttpBinding>
    </bindings>
    <services>
      <service behaviorConfiguration="httpBebavior" name="YW.WCF.Client">
        <endpoint address="Client" binding="customBinding" bindingConfiguration="gzipBinding" contract="YW.Contracts.IClient" />
        <endpoint address="IClient" binding="basicHttpBinding" bindingConfiguration="httpBinding" contract="YW.Contracts.IClient" />
        <host>
          <baseAddresses>
            <add baseAddress="http://0.0.0.0:6699" />
          </baseAddresses>
        </host>
      </service>
      <service behaviorConfiguration="httpBebavior" name="YW.WCF.GFile">
        <endpoint address="IFile" binding="webHttpBinding" behaviorConfiguration="fileBehavior" contract="YW.Contracts.IFile" />
        <host>
          <baseAddresses>
            <add baseAddress="http://0.0.0.0:6799" />
          </baseAddresses>
        </host>
      </service>
    </services>
    <client>
      <endpoint address="http://112.74.130.160:7788/IClient" binding="basicHttpBinding" contract="Api.Contracts.IClient" name="Api" behaviorConfiguration="ApiBehavior" bindingConfiguration="ApiBinding" />
    </client>
  </system.serviceModel>
  <log4net>
    <appender name="FATALFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="Log\\FATAL\\" />
      <DatePattern value="yyyy-MM-dd&quot;.log&quot;" />
      <appendToFile value="true" />
      <MaxSizeRollBackups value="10" />
      <MaximumFileSize value="10MB" />
      <StaticLogFileName value="false" />
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="记录时间：%date %n描述：%message %n %newline" />
      </layout>
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="FATAL" />
        <levelMax value="FATAL" />
      </filter>
    </appender>
    <appender name="InfoFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="Log\\INFO\\" />
      <DatePattern value="yyyy-MM-dd-HH&quot;.log&quot;" />
      <appendToFile value="true" />
      <MaxSizeRollBackups value="10" />
      <MaximumFileSize value="10MB" />
      <StaticLogFileName value="false" />
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="记录时间：%date 线程:%thread 级别:%-5level %n描述：%message %n %newline" />
      </layout>
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="INFO" />
        <levelMax value="INFO" />
      </filter>
    </appender>
    <appender name="ErrorFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="Log\\ERROR\\" />
      <DatePattern value="yyyy-MM-dd&quot;.log&quot;" />
      <appendToFile value="true" />
      <maximumFileSize value="10MB" />
      <maxSizeRollBackups value="10" />
      <StaticLogFileName value="false" />
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="记录时间：%date 线程:%thread 级别:%-5level %n描述：%message %n %newline" />
      </layout>
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="Error" />
        <levelMax value="Error" />
      </filter>
    </appender>
    <appender name="DebugFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="Log\Debug\\" />
      <DatePattern value="yyyy-MM-dd&quot;.log&quot;" />
      <appendToFile value="true" />
      <maximumFileSize value="10MB" />
      <maxSizeRollBackups value="10" />
      <StaticLogFileName value="false" />
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="记录时间：%date 线程:%thread 级别:%-5level %n描述：%message %n %newline" />
      </layout>
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="DEBUG" />
        <levelMax value="DEBUG" />
      </filter>
    </appender>
    <logger name="log4netMainLogger">
      <level value="ALL" />
      <appender-ref ref="FATALFileAppender" />
      <appender-ref ref="InfoFileAppender" />
      <appender-ref ref="ErrorFileAppender" />
      <appender-ref ref="DebugFileAppender" />
    </logger>
  </log4net>
  <startup>
    
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" /></startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
