<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    </configSections>
    <appSettings>
        <add key="ID" value="1" />
        <add key="Port" value="8899" />
        <add key="MaxConnect" value="10000" />
        <add key="BufferSize" value="1024" />
        <add key="PackageSize" value="1024" />
        <add key="DB" value="Database=YiWen;Server=192.168.1.254,18235;uid=sa;pwd=Znsd2017@#$%" />
        <add key="DB_LBS" value="Database=YiwenAPI;Server=192.168.1.254,18235;uid=sa;pwd=Znsd2017@#$%" />
        <add key="Log" value="True" />
        <add key="State" value="False" />
        <add key="ApiKey" value="5101b7d686fd286ad6f906d0fa819f2d" />
        <add key="MongoDBIp" value="192.168.1.254" />
        <add key="MongoDBPort" value="27017" />
        <add key="ClientSettingsProvider.ServiceUri" value="" />
        <add key="ServerIP" value="192.168.1.100" />
        <add key="ServerPort" value="8899" />
        <add key="API_SERVER" value="https://qlife.8kk.win/api/" />
        <add key="CUSTOMER_KEYS" value="3c1e9735d676580820878d4de4127bex" />

        <add key="CLOUDPLATFORM_ENABLED" value="1" />
        <add key="CLOUDPLATFORM_G_VCCID" value="2059" />
        <add key="CLOUDPLATFORM_G_KEY" value="220d7f226cb081306151dd0cd048ce85" />
        <add key="CLOUDPLATFORM_G_URL_DIAL" value="http://www.m173.com" />
        <add key="CLOUDPLATFORM_G_URL_NUMBER_ANALYSIS" value="http://153.3.49.41:8078/CTDAPI/CTD" />
        <add key="CLOUDPLATFORM_G_DIAL_PREFIX" value="0769" />

        <add key="TURING_SYNC_ENABLED" value="1" />
        <add key="TURING_SYNC_URL" value="http://iot-ai.tuling123.com" />
        <add key="TURING_SYNC_API_KEY" value="120a6952f2cf448eba279cbcae3d1cd8" />
        <add key="TURING_SYNC_IMG_URL" value="https://apps.znsd.xiaozhiguanjia.com:6701/IFile/GetImage?path=" />
        <add key="TURING_SYNC_IMG_DEFAULT" value="https://apps.8kk.win/Images/robot.png" />
    </appSettings>
    <system.serviceModel>
        <extensions>
            <bindingElementExtensions>
                <add name="gzipMessageEncoding" type="GZipEncoder.GZipMessageEncodingElement, GZipEncoder, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
            </bindingElementExtensions>
        </extensions>
        <behaviors>
            <serviceBehaviors>
                <behavior name="httpBebavior">
                    <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
                    <serviceDebug includeExceptionDetailInFaults="true" />
                    <dataContractSerializer maxItemsInObjectGraph="2147483647" />
                </behavior>
            </serviceBehaviors>
            <endpointBehaviors>
                <behavior name="ApiBehavior">
                    <dataContractSerializer maxItemsInObjectGraph="2147483647" />
                </behavior>
                <behavior name="fileBehavior">
                    <webHttp />
                </behavior>
            </endpointBehaviors>
        </behaviors>
        <bindings>
            <customBinding>
                <binding name="gzipBinding" sendTimeout="00:10:00" receiveTimeout="00:10:00">
                    <gzipMessageEncoding innerMessageEncoding="textMessageEncoding" />
                    <httpTransport hostNameComparisonMode="StrongWildcard" manualAddressing="False" maxReceivedMessageSize="2147483647" maxBufferSize="2147483647" authenticationScheme="Anonymous"
                                   bypassProxyOnLocal="False" realm="" useDefaultWebProxy="False" />
                </binding>
            </customBinding>
            <basicHttpBinding>
                <binding name="httpBinding" maxReceivedMessageSize="2147483647" maxBufferSize="2147483647" sendTimeout="00:10:00" receiveTimeout="00:10:00" transferMode="Buffered">
                    <!--security mode="Transport">
            <transport clientCredentialType="None"/>
          </security-->
                    <readerQuotas maxArrayLength="2147483647" maxStringContentLength="2147483647" maxNameTableCharCount="2147483647" />
                </binding>
                <binding name="ApiBinding" closeTimeout="00:00:10" openTimeout="00:00:06" receiveTimeout="00:10:00" sendTimeout="00:10:00" transferMode="Buffered" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
                    <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
                    <!--<security mode="Transport" >
            <transport clientCredentialType="None"/>
          </security>-->
                </binding>
            </basicHttpBinding>
            <webHttpBinding>
                <binding name="webBinding">
                    <!--security mode="Transport">
            <transport clientCredentialType="None"/>
          </security-->
                </binding>
            </webHttpBinding>
        </bindings>
        <services>
            <service behaviorConfiguration="httpBebavior" name="YW.WCF.Client">
                <endpoint address="Client" binding="customBinding" bindingConfiguration="gzipBinding" contract="YW.Contracts.IClient" />
                <host>
                    <baseAddresses>
                        <!--
              支持https需要增加证书端口绑定：
              netsh http add sslcert ipport=0.0.0.0:6699 certhash=90c4a40368346576db7baba1465a1415e64789e0 appid={00112233-4455-6677-8899-AABBCCDDEEFF}
              删除：netsh http delete sslcert ipport=0.0.0.0:6699
            -->
                        <add baseAddress="http://0.0.0.0:6699" />
                    </baseAddresses>
                </host>
            </service>
            <service behaviorConfiguration="httpBebavior" name="YW.WCF.GFile">
                <endpoint address="IFile" binding="webHttpBinding" bindingConfiguration="webBinding" behaviorConfiguration="fileBehavior" contract="YW.Contracts.IFile" />
                <host>
                    <baseAddresses>
                        <!--
              支持https需要增加证书端口绑定：
              netsh http add sslcert ipport=0.0.0.0:6700 certhash=90c4a40368346576db7baba1465a1415e64789e0 appid={00112233-4455-6677-8899-AABBCCDDEFFF}
            -->
                        <add baseAddress="http://0.0.0.0:6700" />
                    </baseAddresses>
                </host>
            </service>
        </services>
        <client>
            <endpoint address="http://112.74.130.160:7788/IClient" binding="basicHttpBinding" contract="Api.Contracts.IClient" name="Api" behaviorConfiguration="ApiBehavior" bindingConfiguration="ApiBinding" />
        </client>
    </system.serviceModel>
    <log4net>
        <appender name="FATALFileAppender" type="log4net.Appender.RollingFileAppender">
            <file value="Log\\FATAL\\" />
            <DatePattern value="yyyy-MM-dd&quot;.log&quot;" />
            <appendToFile value="true" />
            <MaxSizeRollBackups value="10" />
            <MaximumFileSize value="10MB" />
            <StaticLogFileName value="false" />
            <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
            <layout type="log4net.Layout.PatternLayout">
                <conversionPattern value="记录时间：%date 行号：%L %n描述：%message %n---%n %exception %newline" />
            </layout>
            <filter type="log4net.Filter.LevelRangeFilter">
                <levelMin value="FATAL" />
                <levelMax value="FATAL" />
            </filter>
        </appender>
        <appender name="InfoFileAppender" type="log4net.Appender.RollingFileAppender">
            <file value="Log\\INFO\\" />
            <DatePattern value="yyyy-MM-dd-HH&quot;.log&quot;" />
            <appendToFile value="true" />
            <MaxSizeRollBackups value="10" />
            <MaximumFileSize value="10MB" />
            <StaticLogFileName value="false" />
            <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
            <layout type="log4net.Layout.PatternLayout">
                <conversionPattern value="记录时间：%date 线程:%thread 级别:%-5level 行号：%L %n描述：%message %n---%n %exception  %newline" />
            </layout>
            <filter type="log4net.Filter.LevelRangeFilter">
                <levelMin value="INFO" />
                <levelMax value="INFO" />
            </filter>
        </appender>
        <appender name="ErrorFileAppender" type="log4net.Appender.RollingFileAppender">
            <file value="Log\\ERROR\\" />
            <DatePattern value="yyyy-MM-dd&quot;.log&quot;" />
            <appendToFile value="true" />
            <maximumFileSize value="10MB" />
            <maxSizeRollBackups value="10" />
            <StaticLogFileName value="false" />
            <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
            <layout type="log4net.Layout.PatternLayout">
                <conversionPattern value="记录时间：%date 线程:%thread 级别:%-5level 行号：%L %n描述：%message %n---%n %exception  %n===%n %stacktrace %n" />
            </layout>
            <filter type="log4net.Filter.LevelRangeFilter">
                <levelMin value="Error" />
                <levelMax value="Error" />
            </filter>
        </appender>
        <appender name="DebugFileAppender" type="log4net.Appender.RollingFileAppender">
            <file value="Log\Debug\\" />
            <DatePattern value="yyyy-MM-dd&quot;.log&quot;" />
            <appendToFile value="true" />
            <maximumFileSize value="10MB" />
            <maxSizeRollBackups value="10" />
            <StaticLogFileName value="false" />
            <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
            <layout type="log4net.Layout.PatternLayout">
                <conversionPattern value="记录时间：%date 线程:%thread 级别:%-5level 行号：%L %n描述：%message %n---%n %exception  %newline" />
            </layout>
            <filter type="log4net.Filter.LevelRangeFilter">
                <levelMin value="DEBUG" />
                <levelMax value="DEBUG" />
            </filter>
        </appender>
        <logger name="log4netMainLogger">
            <level value="ALL" />
            <appender-ref ref="FATALFileAppender" />
            <appender-ref ref="InfoFileAppender" />
            <appender-ref ref="ErrorFileAppender" />
            <appender-ref ref="DebugFileAppender" />
        </logger>
    </log4net>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <runtime>
        <gcConcurrent enabled="false" />
        <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
            <dependentAssembly>
                <assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
            </dependentAssembly>
        </assemblyBinding>
    </runtime>
    <system.web>
        <membership defaultProvider="ClientAuthenticationMembershipProvider">
            <providers>
                <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
            </providers>
        </membership>
        <roleManager defaultProvider="ClientRoleProvider" enabled="true">
            <providers>
                <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
            </providers>
        </roleManager>
    </system.web>
</configuration>
