@model YW.Model.Entity.DealerNotification
@{
    ViewBag.Title = "后台管理系统 - 系统管理";
    Layout = "~/Views/Shared/_LayoutForPop.cshtml";
    ViewBag.Module = 2;
    
}
@section Head_Code
{
    <script type="text/javascript">
        $(function() {
            $('#infoform').submit(function() {
                if (CheckTable()) {
                    var data = $('#infoform').serialize();
                    $.ajax({
                        url: this.action,
                        type: "Post",
                        data: data,
                        success: function(data) {
                            if (data) {
                                if (data.Result == 1) {
                                    window.top.art.dialog.alert(data.Message, function() {
                                        var origin = artDialog.open.origin;
                                        origin.reload();
                                        origin.dialog.time(0.1);
                                        return true;
                                    });
                                } else {
                                    ShowError(data);
                                }
                            }
                        }
                    });
                }
                
                return false;
            });
        });

        function CloseOpen() {
            art.dialog.close();
        };

        //页面判断
        function CheckTable() {
            var content = $("#txtContent");
            if (content.val() == "") {
                content.focus();
                ShowError({ Result: 0, Message: "内容不能为空！" });
                return false;
            }

            return true;
        };

      
    </script>
}
<div class="centercontent">
    <div class="contentwrapper" id="contentwrapper">
        <div class="subcontent" id="validation" style="display: block;">
            @using (Html.BeginForm("EditNotification", "System", FormMethod.Post,
                    new { name = "infoform", id = "infoform", @class = "stdform" }))
            {
                <p>
                    <label>
                        内容</label>
                    <span class="field">@Html.TextAreaFor(u => u.Content, new { id = "txtContent", name = "Content", @class = "mediuminput" })</span>
                </p>
                <p class="stdformbutton">
                    <button class="submit radius2" style="margin-left: 20px;">
                        提交</button>
                </p>
            }
        </div>
        <!--subcontent-->
    </div>
    <!--contentwrapper-->
</div>
